{% extends 'employee_app/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Vacancy</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.vacancy }}</td>
                    <td>
                        <a class="btn btn-info" href="">View</a>
                        <a class="btn btn-warning" href="">Edit</a>
                        <a class="btn btn-danger" href="">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}