{% extends 'employee_app/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Resume</th>
                <th scope="col">Vacancy</th>
                <th scope="col">Status</th>
                <th scope="col">Feedback</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for response in responses %}
                <tr class="{% if response.status == 'ACCEPTED' %} table-success {% elif response.status == 'NOT_ACCEPTED' %} table-danger {% else %} table-warning {% endif %} ">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ response.title }}</td>
                    <td>{{ response.resume }}</td>
                    <td>{{ response.vacancy }}</td>
                    <td>{{ response.get_status_display|capfirst }}</td>
                    <td>{{ response.feedback }}</td>
                    <td>
                        <a href="{% url 'company:offer_delete' response.id %}" class="btn btn-danger">delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}