{% extends 'employee_app/base.html' %}
{% load static %}

{% block content %}
    <a class="btn btn-outline-dark mt-3 ms-3" href="{% url 'employee:profile_resumes' %}">Назад</a>

    <div class="container">
        <form action="{% url 'employee:resume_edit' resume.id %}" method="post">
            <h4>Resume</h4>
            <div class="">
                <p><span class="text fw-bold">Title: </span>{{ form.title }}</p>
                <p><span class="text fw-bold">Status: </span>{{ form.status }}</p>
            </div>
            <hr>
            <h4>Experience</h4>
            <button type="button" class="btn" onclick="add('experience', true)">+</button>
            <div class="d-flex flex-wrap experience">
                {% for item in experiencies %}
                    <div class="card-body border m-3 w-25">
                        <input type="hidden" value="{{ item.pk }}" name="pk">
                        {% for key, value in item.fields.items %}
                            {% if key != 'resume' %}
                                <p>
                                    <span class="text fw-bold">{{ key|capfirst }}:  </span>
                                    <input type="text" value="{{ value }}" name="{{ key }}">
                                </p>
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="btn btn-danger" onclick="delete_instance(this)">delete</button>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h4>Education</h4>
            <button type="button" class="btn" onclick="add('education', true)">+</button>

            <div class="d-flex flex-wrap education">
                {% for item in educations %}
                    <div class="card-body border m-3 w-25">
                        <input type="hidden" value="{{ item.pk }}" name="pk">
                        {% for key, value in item.fields.items %}
                            {% if key != 'resume' %}
                                <p>
                                    <span class="text fw-bold">{{ key|capfirst }}:  </span>
                                    <input type="text" value="{{ value }}" name="{{ key }}">
                                </p>
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="btn btn-danger" onclick="delete_instance(this)">delete</button>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h4>Courses</h4>
            <button type="button" class="btn" onclick="add('courses', true)">+</button>


            <div class="d-flex flex-wrap courses">
                {% for item in courses %}
                    <div class="card-body border m-3 w-25">
                        <input type="hidden" value="{{ item.pk }}" name="pk">
                        {% for key, value in item.fields.items %}
                            {% if key != 'resume' %}
                                <p>
                                    <span class="text fw-bold">{{ key|capfirst }}:  </span>
                                    <input type="text" value="{{ value }}" name="{{ key }}">
                                </p>
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="btn btn-danger" onclick="delete_instance(this)">delete</button>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                <input type="button" class="btn btn-success" onclick="update()" value="save">
            </div>
        </form>
    </div>
{% endblock %}

{% block footer-js %}
    <script
            src="//code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="{% static 'js/resume.js' %}"></script>
{% endblock %}