{% extends 'employee_app/base.html' %}
{% load static %}

{% block content %}
    <form id="resume" action="" method="post">
{#        {% csrf_token %}#}
        <h4>resume</h4>
        {{ form.as_p }}
        <hr>
        <div class="experience">
            <h4>experience</h4>
            <button type="button" class="btn" onclick="add('experience')">+</button>
        </div>
        <hr>
        <div class="education">
            <h4>education</h4>
            <button type="button" class="btn" onclick="add('education')">+</button>
        </div>
        <hr>
        <div class="courses">
            <h4>courses</h4>
            <button type="button" class="btn" onclick="add('courses')">+</button>
        </div>
        <input type="button" onclick="save()" value="save">
    </form>
{% endblock %}

{% block footer-js %}
    <script
            src="//code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="{% static 'js/resume.js' %}"></script>
{% endblock %}