{% extends 'employee_app/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h7>Избранные резюме</h7>
        <div class="card bg-gradient text-white m-3 w-50">
            <ul class="list-group list-group-flush">
                {% for favorite_resume in favorite_resumes %}
                    <li class="list-group-item">{{ favorite_resume }}</li>
                {% endfor %}
            </ul>
        </div>
        <h7>Все резюме</h7>
        {% for resume in resumes %}
            <div class="card bg-dark bg-gradient text-white m-3 w-50">
                <div class="card-body">
                    <a class="clearfix text-warning" href="{% url 'employee:resume_view' resume.pk %}">
                        <h5 class="card-title float-start">{{ resume.title }}</h5>
                    </a>
                    <div class="vstack fst-italic mb-3">
                        <small class="card-text">{{ resume.employee }}</small>
                    </div>
                    <div class="d-flex">
                        <a href="{% url 'company:make_offer' resume.id %}" type="button" class="btn btn-warning me-1">Offer</a>
                        <form action="{% url 'employee:resumes' %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-warning" type="submit" value="To favorites">
                            <input type=hidden name=resume value="{{ resume.id }}">
                        </form>
                    </div>
                    <small class="text-muted float-end">{{ resume.updated_at }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}