{% extends 'company_app/base.html' %}
{% load static %}
{% block content %}
    {% include 'company_app/includes/inc_search_bar.html' %}
    <div class="d-flex flex-column align-items-center">
        <h7>Избранные вакансии</h7>
        <div class="card bg-dark bg-gradient text-white m-3 w-50">
            <ul class="list-group list-group-flush">
                {% for favorite_vacancy in favorite_vacancies %}
                    <li class="list-group-item">{{ favorite_vacancy }}</li>
                {% endfor %}
            </ul>
        </div>
        <h7>Все вакансии</h7>
        {% for vacancy in vacancies %}
            <div class="card bg-dark bg-gradient text-white m-3 w-50">
                <div class="card-body">
                    <a class="clearfix text-warning" href="#">
                        <h5 class="card-title float-start">{{ vacancy.title }}</h5>
                        <span class="badge bg-success float-end">{{ vacancy.salary }}$</span>
                    </a>
                    <div class="vstack fst-italic mb-3">
                        <small class="card-text">{{ vacancy.company }}</small>
                        <small class="text-muted">{{ vacancy.location }}</small>
                    </div>
                    <p class="card-text">{{ vacancy.description }}</p>
                    <div class="d-flex">
                        <a href="{% url 'employee:make_response' vacancy.id %}" type="button" class="btn btn-warning me-1">Откликнуться</a>
                        <form action="{% url 'company:vacancies' %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-warning" type="submit" value="To favorites">
                            <input type=hidden name=vacancy value="{{ vacancy.id }}">
                        </form>
                    </div>
                    <small class="text-muted float-end">{{ vacancy.updated_at }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}