<h4>Resume</h4>
<hr>
<div class="d-flex flex-column justify-content-between">
    <p><span class="text fw-bold">Title: </span>{{ resume.title }}</p>
    {% if reques.user.is_employee %}
        <p><span class="text fw-bold">Status: </span>{{ resume.status }}</p>
        <p><span class="text fw-bold">Moderation status: </span>{{ resume.moderation_status }}</p>
    {% else %}
        <p><span class="text fw-bold">Username: </span>{{ resume.employee.user.username }}</p>
        <p><span class="text fw-bold">First name: </span>{{ resume.employee.user.first_name }}</p>
        <p><span class="text fw-bold">Last name: </span>{{ resume.employee.user.last_name }}</p>
        <p><span class="text fw-bold">Phone: </span>{{ resume.employee.user.phone }}</p>
        <p><span class="text fw-bold">Email: </span>{{ resume.employee.user.email }}</p>

    {% endif %}
</div>
<hr>
{% if experiencies %}
    <h4>Experience</h4>
    <div class="d-flex flex-wrap">
        {% for experience in experiencies %}
            <div class="card-body border m-3 w-25">
                <p><span class="text fw-bold">Company: </span>{{ experience.company }}</p>
                <p><span class="text fw-bold">Period: </span> {{ experience.period }}</p>
                <p><span class="text fw-bold">Position: </span> {{ experience.position }}</p>
                <p><span class="text fw-bold">Duties: </span> {{ experience.duties }}</p>
            </div>
        {% endfor %}
    </div>
    <hr>
{% endif %}
{% if educations %}
    <h4>Education</h4>
    <div class="d-flex flex-wrap">
        {% for education in educations %}
            <div class="card-body border m-3 w-25">
                <p><span
                        class="text fw-bold">Educational institution: </span>{{ education.educational_institution }}
                </p>
                <p><span class="text fw-bold">Specialization: </span> {{ education.specialization }}</p>
                <p><span class="text fw-bold">Year of ending: </span> {{ education.year_of_ending }}</p>
            </div>
        {% endfor %}
    </div>
    <hr>
{% endif %}
{% if courses %}
    <h4>Courses</h4>
    <div class="d-flex flex-wrap">
        {% for course in courses %}
            <div class="card-body border m-3 w-25">
                <p><span class="text fw-bold">Company: </span>{{ course.company }}</p>
                <p><span class="text fw-bold">Specialization: </span> {{ course.specialization }}</p>
                <p><span class="text fw-bold">Year of ending: </span> {{ course.year_of_ending }}</p>
            </div>
        {% endfor %}
    </div>
    <hr>
{% endif %}
{% if request.user.is_company %}
    <div class="d-flex justify-content-center mb-2">
        <a class="btn btn-success" href="{% url 'company:make_offer' resume.id %}">Предложить вакансию</a>
    </div>
{% endif %}