<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url "main_app:index" %}" class="text-white text-decoration-none pe-5">GeekHunter</a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'main_app:index' %}" class="nav-link px-2 text-secondary">Home</a></li>
                {% if perms.company_app.view_vacancy %}
                    <li><a href="{% url 'company:vacancies' %}" class="nav-link px-2 text-white">Vacancies</a></li>
                {% endif %}
                {% if request.user.is_company %}
                    <li><a href="{% url 'company:profile' %}" class="nav-link px-2 text-white">Profile</a></li>
                {% endif %}
            </ul>
            <div class="text-end d-flex">
                {% if user.is_authenticated %}
                    <p class="text-white h-100 me-2">Hello, {{ user.username }}!</p>
                    <a role="button" class="btn btn-outline-light me-2" href='{% url 'auth:logout' %}'>Logout</a>
                {% else %}
                    {% if request.resolver_match.url_name != 'login' %}
                        <a role="button" class="btn btn-outline-light me-2" href='{% url 'auth:login' %}'>Login</a>
                    {% endif %}
                    <a role="button" class="btn btn-warning " href='{% url 'auth:signup' %}'>Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>